@CHARSET "ISO-8859-1";
<style>
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
list-style-type:none;
}
a:link,a:visited
{
display:block;
width:230px;
font-weight:bold;
color:black;
background-color:#D8D8D8;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#C0C0C0;
}

</style>