@CHARSET "ISO-8859-1";
body{
    font-family:calibri;
}
.container{
    width:1024px;
    height:800px;
    margin:auto;
    background:url('pozadina.jpg');
    background-repeat:no-repeat;
}
.header{
    width:1024px;
    height:30px;
    background:#B2CAF4;

}

.naziv input{
    width:180px;
    height:20px;
    border-radius:5px;
    border:1px solid #bdc7d8;
    padding:8px 10px;
    font-size:15px;
    margin-bottom:10px;
    background-color:#F0F4FD;
    padding-left:8px;
}
#limitation{
    width:200px;
    height:38px;
    border-radius:5px;
    border:1px solid #bdc7d8;
    padding:8px 10px;
    font-size:17px;
    margin-bottom:50px;
    font-family:calibri;
    color:#999;
    background-color:#F0F4FD;
    padding-left:8px;
}

.naslov{
    margin-top:50px;
    font-size:15px;
}
#description{
    font-size:20px;
    font-family:calibri;
    border-radius:5px;
    border:1px solid #bdc7d8;
    background-color:#F0F4FD;
    padding-left:8px;

}
.registrirajse input{
    margin-top:30px;
    width:60px;
    height:27px;
    border-radius:5px;
    border:1px solid #bdc7d8;
    font-size:12px;
    background-color:#B2CAF4;
    font-weight:bold;
    float:left;
}