@CHARSET "ISO-8859-1";
body{
font-family:calibri;
}
.container{
background:url(../img/naslovna.jpg);
width:1024px;
height:600px;
margin:auto;
}
.form{
width:260px;
height:590px;
background:white;
float:right;

}
.headline{
margin-left:40px;
}
.name input{
width:165px;
height:35px;
border-radius:5px;
border:1px solid #bdc7d8;
font-size:16px;
margin-top:10px;
margin-left:40px;
margin-bottom:10px;
background-color:#F0F4FD;
padding-left:8px;
}
.password input{
width:165px;
height:35px;
border-radius:5px;
border:1px solid #bdc7d8;
font-size:16px;
margin-bottom:50px;
margin-left:40px;
background-color:#F0F4FD;
padding-left:8px;
}
.login input{
width:60px;
height:27px;
border-radius:5px;
border:1px solid #bdc7d8;
font-size:12px;
background-color:#F0F4FD;
margin-left:40px;
margin-bottom:30px;
font-weight:bold;
float:left;
}
