@CHARSET "ISO-8859-1";
body{
font-family:calibri;
}
.header{
width:1024px;
height:30px;
background:#B2CAF4;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
font-size:18px;

}
li
{
float:left;
list-style-type:none;

}
a:link,a:visited
{
display:block;
width:230px;
font-weight:bold;
color:black;
background:#B2CAF4;
text-align:center;
padding:4px;
text-decoration:none;
}
a:hover,a:active
{
background-color:#74A0EF;
}
 ul ul {
	display: none;
}

ul li:hover > ul {
		display: block;
	}
text-transform: lowercase;	
ul li {
	float: left;
	}

.container{
width:1024px;
height:850px;
margin:auto;
background:url('../img/pozadina.jpg');
background-repeat:no-repeat;
}


.registration{
height:690px;
width:280px;
float:left;
margin-left:150px;
margin-top:60px;	
}
.reguser input{
width:200px;
height:20px;
border-radius:5px;
border:1px solid #bdc7d8;
padding:8px 10px;
font-size:15px;
margin-bottom:10px;
background-color:#F0F4FD;
}
.name input{
width:200px;
height:20px;
border-radius:5px;
border:1px solid #bdc7d8;
padding:8px 10px;
font-size:15px;
margin-right:10px;
margin-bottom:10px;
background-color:#F0F4FD;
}
.lastname input{
width:200px;
height:20px;
border-radius:5px;
border:1px solid #bdc7d8;
padding:8px 10px;
font-size:15px;
margin-bottom:10px;
background-color:#F0F4FD;
}
.address input{
width:200px;
height:20px;
border-radius:5px;
border:1px solid #bdc7d8;
padding:8px 10px;
font-size:15px;
margin-bottom:10px;
background-color:#F0F4FD;
}
.email input{
width:200px;
height:20px;
border-radius:5px;
border:1px solid #bdc7d8;
padding:8px 10px;
font-size:15px;
margin-bottom:10px;
background-color:#F0F4FD;
}
.birth{
height:20px;
width:200;
color:black;
font-size:15px;
font-weight:normal;
margin-bottom:5px;
margin-top:3px;
overflow:auto;

}
.password input{
width:200px;
height:20px;
border-radius:5px;
border:1px solid #bdc7d8;
padding:8px 10px;
font-size:15px;
margin-bottom:10px;
background-color:#F0F4FD;
}
.password_again input{
width:200px;
height:20px;
border-radius:5px;
border:1px solid #bdc7d8;
padding:8px 10px;
font-size:15px;
margin-bottom:10px;
background-color:#F0F4FD;
}
.regrm input{
width:60px;
height:25px;
border-radius:5px;
border:1px solid #bdc7d8;
background-color:#B2CAF4;
margin-top:70px;
font-size:12px;
margin-bottom:20px;
}
.reggrad input{
height:20px;
width:200px;
color:black;
font-size:15px;
font-weight:normal;
margin-bottom:15px;
margin-top:25px;
}
.dmg
{
width:300px;
margin-bottom:10px; 
}
#dan{
font-size:12px;
padding:5px;
height:30px;
width:70px;
border:1px solid #bdc7d8;
border-radius:5px;
font-size:12px;
background-color:#F0F4FD;
color:#999;
}
#mjesec{
font-size:12px;
padding:5px;
height:30px;
width:70px;
border:1px solid #bdc7d8;
border-radius:5px;
background-color:#F0F4FD;
color:#999;
}
#godina{
font-size:13px;
padding:5px;
height:30px;
width:70px;
border:1px solid #bdc7d8;
border-radius:5px;
font-size:12px;
background-color:#F0F4FD;
color:#999;
}
#radno_mjesto{
border:1px solid #bdc7d8;
border-radius:5px;
font-size:13px;
background-color:#F0F4FD;
color:#999;
height:30px;	
margin-bottom:10px;
padding:5px;
}
#grad{
border:1px solid #bdc7d8;
border-radius:5px;
font-size:13px;
background-color:#F0F4FD;
color:#999;
height:30px;	
width:70px;
padding:5px;
}
.spol
{
font-weight:bold;
color:black;
font-size:15px;
float:left;
width:200px;
height:20px;
margin:13px 0 10px 0;

}
.registrirajse input{
width:90px;
height:27px;
background-color:#B2CAF6;
border:1px solid #bdc7d8;
border-radius:5px;
margin-top:5px;
margin-bottom:20px;
font-weight:bold;
font-size:13px;
color:black;
text-align:center;
cursor:pointer;
}

.headline h1{
font-size:25px;	
margin-bottom:15px;
color:#333;
}

#room{
    width:130px;
    height:30px;
    border:1px solid #bdc7d8;
    border-radius:5px;
    background-color:#F0F4FD;
}

#del{
    height:25px;
    width:60px;
    border-radius:5px;
    border:1px solid #bdc7d8;
    background-color:#B2CAF4;
    font-size:12px;
    margin-left:15px;
}

#upd{
    height:25px;
    width:60px;
    border-radius:5px;
    border:1px solid #bdc7d8;
    background-color:#B2CAF4;
    font-size:12px;
    margin-left:15px;
}

#utick{display:none}
#ucross{display:none}

#etick{display:none}
#ecross{display:none}
