@CHARSET "ISO-8859-1";
body{
    font-family:calibri;
}
.container{
    width:1024px;
    height:800px;
    margin:auto;
    background:url('../img/pozadina.jpg');
    background-repeat:no-repeat;
}
.header{
    width:1024px;
    height:30px;
    background:#B2CAF4;
}
.time{

    width:800px;
    height:590px;
    margin-top:70px;
}

.Table
{
    border:none;
    padding: 5px;
    font-size:14px;
    font-family: calibri;
}
.Table th
{
    background-color:#B2CAF6;
    padding: 8px 12px;
    font-weight: bold;

}
.Table td
{
    padding: 0 9px;
    height:40px;
    width:100px;
    background-color:#F0F4FD;
    border:1px;
}
 .tracking
{
width:800px;
    height:590px;
    margin-top:90px;
}




div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
    border:1px solid #B2CAF4;
	text-decoration: none; /* no underline */
	color: #000000;
}
div.pagination a:hover, div.pagination a:active
    {
	border: 1px solid #74A0EF;
    color: #000;
    }
div.pagination span.current
    {
	padding: 2px 5px 2px 5px;
	margin: 2px;
    border:1px solid #74A0EF;
	font-weight: bold;
	background-color: #B2CAF4;
	color: #FFF;
	}
div.pagination span.disabled
    {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #B2CAF4;
	    color: #74A0EF;
	}
ul
    {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font-size:18px;

    }
li
{
    float:left;
    float:left;
    list-style-type:none;

}
.sos a:link,.sos a:visited
    {
        display:block;
        width:230px;
        font-weight:bold;
        color:black;
        text-align:center;
        padding:4px;
        text-decoration:none;
        background:#B2CAF4;
    }

.sos a:hover,.sos a:active
    {
    background-color:#74A0EF;
    }

.sos ul ul {
    display: none;
}

.sos ul li:hover > .sos ul {
    display: block;
}

.sos ul li {

    float: left;
}




