@CHARSET "ISO-8859-1";
body{
    font-family:calibri;
}
.container{
    width:1024px;
    height:800px;
    margin:auto;
    background:url('../img/pozadina.jpg');
    background-repeat:no-repeat;
}
.header{
    width:1024px;
    height:30px;
    background:#B2CAF4;
}
.time{

    width:800px;
    height:590px;
    margin-top:70px;
}

.Table
{
    border:none;
    padding: 5px;
    font-size:14px;
    font-family: calibri;
}
.Table th
{
    background-color:#B2CAF6;
    padding: 8px 12px;
    font-weight: bold;

}
.Table td
{
    padding: 0 9px;
    height:40px;
    width:100px;
    background-color:#F0F4FD;
    border:1px;
}
.tracking
{
width:800px;
    height:590px;
    margin-top:90px;
}

